@media (min-width: 900px) {
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* mainBody.css media Query style START here */
	/* --------------------------------------------------------------------------------------------------------------------------- */
	.read-write-data,
	.encrypt-file,
	.message,
	.add_data {
		width: 80%;
	}
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* mainBody.css media Query style End here */
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* view.css media Query style START here */
	/* --------------------------------------------------------------------------------------------------------------------------- */

	/* .message .add_data   see both in main body css section*/
	.add_data > ul:nth-child(1) li {
		width: 80%;
	}
	.major_data_display {
		grid-template-columns: repeat(3, 1fr);
	}

	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* view.css media Query style END here */
	/* --------------------------------------------------------------------------------------------------------------------------- */
}
